*{
    margin: 0px;
    padding: 0px;
   font-size: medium;
font-family:  sans-serif;
    
}
:root{
  
    --primary-color :white ;
    --secondary-color : black;
}

.dark-theme{
    --primary-color :rgb(0, 0, 0) ;
    --secondary-color :white ;
   
}

/* .navModify{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.nv {
    flex: 1;
    text-align: right;
} */

.searchBox{
    width: 5px;
}
.backgroundd{
    background-color:var(--primary-color);
    background-image: url(bgimg2.jpg);
    background-repeat:  repeat-x no-repeat;
    background-size: 100%;
}
/* .backgroundd2{
    background-color:var(--primary-color);
    background-image: url(bgimg.jpeg);
    background-repeat:  repeat-x no-repeat;
    background-size: 100%;
} */
.container{
    /* text-align: center; */
    padding: 10px;
height: 100%;
    /* background-color: rgb(43, 41, 41);
     */
     /* background-image: linear-gradient(red,blue); */
     /* background-image: linear-gradient(#0f205e,#ec5757cf); */
}

#addText{
    padding: 5px;
    color: black;
    background-color: rgb(238, 238, 238);
    border: solid;
}
#addTitle{
    padding: 5px;
    color: black;
    background-color: rgb(250, 165, 165);
    /* background-image: linear-gradient(blue,red); */
    background : rgba(22,136,217,.33);
    border: solid;
}
.text-Area{
    padding: 5px;
    color: black;
    background-color: rgb(238, 238, 238);
    border: solid;
    border-radius: 10px;
    height: 100px;
    width:  auto;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#icon{
    width: 5%;
    height: 5%;
    padding: 0px 8px;
    cursor: pointer;
}


.deleteBtn{
    background-color: rgb(207, 64, 39); 
    color: white;
    border-radius: 50px;
    padding: 2px 15px;

}
.mycard{
    background-color: violet;
}
.impBtn{
    background-color: rgb(30, 177, 49); 
    color: white;
    border-radius: 50px;
    padding: 2px 15px;

}
#heading{
    padding: 3px 30px;
    /* background-color: red;  */
    color: var(--primary-color);
    border: solid; 

 /* background: transparent; */
    border-radius: 50px;
}


/* #cb{
    background-color: black;
    color: white;
} */